@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
body,
html {
  font-family: "Outfit";
  overflow-x: hidden;
}

.faq {
  margin-top: 100px;
  background: #fbf9ee;
  padding: 100px 0;
}
.faq .d-flex {
  gap: 80px;
}
.faq .nav {
  position: relative;
  height: 90%;
}
.faq .nav::after {
  content: "";
  height: 100%;
  width: 1px;
  background: #0e59f2;
  position: absolute;
  top: 21px;
  right: -40px;
}
.faq .nav::before {
  content: "";
  height: 38px;
  width: 1px;
  background: #fbf9ee;
  position: absolute;
  right: -40px;
  bottom: -22px;
  z-index: 1;
}
.faq .nav .nav-link {
  width: 140px;
  padding: 5px 0px;
  border-radius: 2px;
  border: 1px solid #dbe5f6;
  box-shadow: 0px 16px 51px 0px rgba(0, 0, 0, 0.07);
  margin-bottom: 10px;
  background: white;
  color: #0e59f2;
  font-family: Outfit;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  z-index: 1;
}
.faq .nav .nav-link.active {
  border-radius: 2px;
  background: #0e59f2;
  color: white;
  box-shadow: 0px 16px 51px 0px rgba(0, 0, 0, 0.07);
  position: relative;
  z-index: 1;
}
.faq .nav .nav-link.active::after {
  position: absolute;
  top: 20px;
  right: -40px;
  content: "";
  width: 40px;
  height: 1px;
  background: #0e59f2;
}
.faq .nav .nav-link:first-child {
  position: relative;
}
.faq .nav .nav-link:first-child::before {
  position: absolute;
  right: -40px;
  top: 20px;
  content: "";
  width: 40px;
  height: 1px;
  background: #0e59f2;
}
.faq .nav .nav-link:last-child {
  position: relative;
  z-index: 1;
  margin-bottom: 0;
}
.faq .nav .nav-link:last-child::before {
  position: absolute;
  right: -40px;
  top: 20px;
  content: "";
  width: 40px;
  height: 1px;
  background: #0e59f2;
  z-index: -1;
}
.faq .tab-content .show.active {
  position: relative;
}
.faq .tab-content .show.active::before {
  position: absolute;
  left: -109px;
  top: 49px;
  content: "";
  background-image: url("../img/tronix-icon/icon-2.svg");
  height: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  width: 109px;
  height: 40px;
  background-size: 44px 15px;
}

.content-cards {
  border-radius: 10px;
  border: 1px solid #dbe5f6;
  background: white;
  padding: 30px 40px;
  box-shadow: 0px 16px 51px 0px rgba(0, 0, 0, 0.07);
}
.content-cards .card-title {
  color: #1c1c25;
  font-family: Outfit;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 5px;
}
.content-cards .card-para {
  color: #7b7e86;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

/*====================
	 Default
======================*/
*,
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
big,
cite,
code,
del,
img,
q,
small,
strong,
sub,
sup,
tt,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
footer,
header,
menu,
nav,
section,
mark,
audio,
video,
::before,
::after {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
::before,
::after {
  outline: none;
  box-sizing: border-box;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: middle;
}

iframe {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 1.5rem;
}

.custom-container {
  width: 100%;
  margin: 0 auto;
}

.under-line {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
